<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/hometabel.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" />
    <script th:src="@{/js/pass.js}"></script>
</head>

<body>
    <div class="second-box">
        <div id="feedback-form">
            <h2 class="header">Form Login</h2>
            <form th:action="@{/validateLogin}" method="post" class="form-group" enctype="multipart/form-data"> <label
                    for="kode" class="form-label">Kode Seller</label> <input type="text" id="kode" name="kode"
                    required /> <label for="password" class="form-label">Password</label> <input type="password"
                    id="password" name="password" /> <button type="submit" class="btn btn-primary"
                    name="Login">Login</button> </form>
        </div>
    </div>
</body>

</html>
