<html>

<head>
    <title>Produk Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/hometabel.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" />
</head>

<body>
    <div class="first-box">
        <h2>List Produk</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>ID</th>
                    <th>Tipe</th>
                    <th>Produsen</th>
                    <th>Ram</th>
                </tr>
            </thead>
            <tbody th:each="d, no : ${produkList}">
                <tr>
                    <td th:text="${no.count}"></td>
                    <td th:text="${d.getId()}"></td>
                    <td th:text="${d.getTipe()}"></td>
                    <td th:text="${d.getProdusen()}"></td>
                    <td th:text="${d.getRam()}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>